.nav-link {
    text-decoration: none;
    color: #222;
    width: 100%;
}

.nav-active {
    font-weight: bold;
}

.logo-container {
    display: flex;
    margin-right: auto;
}

.logo {
    width: 100px;
    height: 100px;
}