*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #ecommerce-react{
    height: 100% !important;
    position: relative;
    font-family: $regular-font;
}


.main-background{
    background: linear-gradient(-135deg,#c850c0,#4158d0);
}

.form{
    width: 100%;
}