.catergory-card {
    width: 12rem;
    height: 8rem;
    margin: 2rem;
    display: inline-block;
}

.product-card {
    width: 20rem;
    height: 32rem;
    margin: 2rem 2rem 0 0;
    display: flex;
    flex-direction: column;
    position: relative;

    .image {
        height: 15rem;
        width: 100%;
        object-fit: cover;
    }

    .card-label {
        position: absolute;
        top: 1rem;
        left: 0.5rem;
    }
}


.testimonial {
    background: #f7f7f7;

    .photo-container {
        position: relative;

        .photo {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 10px solid #007bff;
            z-index: 100;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .photo:after {
            content: '';
            position: absolute;
            height: 300px;
            width: 300px;
            background: #007bff;
            border-radius: 50%;
            margin: auto;
            left: -100px;
            z-index: -1;
        }

    }


    color: #333333;

    h5 {
        color: #222831
    }
}