.catergory-card {
    width: 12rem;
    height: 8rem;
    margin: 2rem;
    display: inline-block;
}

.product-card {
    width: 20rem;
    height: 32rem;
    margin: 2rem 2rem 0 0;
    display: flex;
    flex-direction: column;
    position: relative;

    .image {
        height: 15rem;
        width: 100%;
        object-fit: cover;
    }

    .card-label{
        position: absolute;
        top: 1rem;
        left: 0.5rem;
    }
}